body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  margin-top: 10%;
  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  border:1px solid black;


}

.smooth {
  scroll-behavior: smooth;
}

.item {
  position: relative;
  left: 0;
  background: #730090;
  color: #fff;
  width: 200px;
  height: 200px;
  font-size: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0 3px 0 3px;

  --webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}
